.right-box {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-page div nav ul li a {
  border: none;
  background: unset;
  align-self: baseline;
}

.template {
  display: none;
}
